{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
        <li>
            <a href="{% url 'polls:detail' question.id %}">
                {{ question.question_text }}
            </a>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>
        No polls are available.
    </p>
{% endif %}

<!-- 튜토리얼의 편의성을 위해 불완전한 HTML을 사용한다. -->
<!-- 실제 프로젝트에서는 완성된 HTML을 사용해야 한다. -->

<!-- polls.urls 모듈의 path()함수에서 인수의 이름을 정의했으므로, -->
<!-- url template 태그를 사용하여 -->
<!-- url 설정에 정의된 특정한 url 경로들의 의존성을 제거 할 수 있다. -->
<!-- 즉, 하드코딩이 아니라 입력되는 데이터에 맞게 경로를 설정하게 한다는 뜻이다. -->